---
console.log(Astro.props); // 🔍 check what's available

import { Picture } from 'astro:assets';
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { formatDate } from "../utils/formatDate.js";

interface Props {
  title: string;
  summary: string;
  canonical: string;
  pubDate: Date;
  imageAlt?: string;
  coverImage: ImageMetadata;
}

// Props from Markdown frontmatter
const { title, summary, canonical, coverImage, imageAlt, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} description={summary} canonical={canonical} />
    <style is:global>
      @import "../styles/css-reset.css";
      @import "../styles/variables.css";
      @import "../styles/styles.css";
    </style>
  </head>

  <body>
    <Header />

    <div>
      <h1 class="post-title">{title}</h1>

      {pubDate && (
        <aside>
          <p class="post-date"><time datetime={pubDate.toISOString()}>{formatDate(pubDate)}</time></p>
        </aside>
      )}
    </div>

    <Picture
      src={coverImage}
      alt={imageAlt || `Cover image for the article titled ${title}`}
      width="600"
      height="600"
      loading="lazy"
      decoding="async"
      class="cover-image"
    />

    <main id="main-content" class="push-down-header" role="main">
      <div class="blog-post">
        <div class="post-content">
          <!-- <article class="article-full"> -->
          <slot />
        <!-- </article> -->
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>
