---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, canonical, coverImage } = Astro.props;
---

<!-- ---
import { Image } from '@astrojs/image/components';
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, canonical, coverImage } = Astro.props;
--- -->

<html lang="en">
  <head>
    <Head title={title} description={description} canonical={canonical} />

    <!-- Load your global styles -->
    <style is:global>
      @import "../styles/css-reset.css";
      @import "../styles/variables.css";
      @import "../styles/styles.css";
    </style>
  </head>

  <body>
    <Header />

    <main id="main-content" role="main">
        <article class="blog-post">
          {title && <h1>{title}</h1>}
  
          {coverImage && (
            <img
              src={coverImage}
              alt={`Cover image for the article titled ${title}`}
              class="blog-post--cover-image"
              loading="lazy"
            />
          )}    
        <slot />
      </article>
    </main>

    <Footer />
  </body>
</html>
